<app-backoffice-links></app-backoffice-links>

<div class="main-content-body">
  <md-card>
    <md-card-subtitle class="md-card-subtitle main-content-title">
      <h1>{{'CREATE_SUPPLEMENT_CONTRACT' | translate}}</h1>

    </md-card-subtitle>
    <md-card-content>
      <div class="sub-form full-width">
        <form class="row" (submit)="update()">
          <div class="sub-form">
            <div class="md-padding flex">
              <md-input name="prepaidContract.serviceType" ng2-auto-complete [source]="prepaidData" [(ngModel)]="service" [placeholder]="'SELECT_SERVICE_TYPE' | translate" value-property-name="servicePrepaidId" display-property-name="serviceType" required>
              </md-input>
            </div>
            <div class="md-padding flex">
              <md-slide-toggle [(ngModel)]="prepaidContract.automaticRenewal" name="prepaidContract.automaticRenewal">{{'AUTOMATIC_RENEWAL' | translate}}</md-slide-toggle>
            </div>
          </div>

          <div class="md-padding">
            <textarea minlength="5" [(ngModel)]="prepaidContract.content" name="prepaidContract.content" class="full-width" [placeholder]="'CONTENT' | translate" required></textarea>
          </div>
          <br>
          <md-card-actions class="align right">
            <!-- <button md-button type="button"  (click)="cancel()">{{'CANCEL' | translate}}</button> -->
            <button md-button type="button"  (click)="clear()">{{'CLEAR' | translate}}</button>
            <button md-button class="em-primary-btn" [disabled]="isLoading || !service.serviceType || !service || !prepaidContract.content" type="submit">{{'SAVE' | translate}}</button>
          </md-card-actions>
        </form>
      </div>
    </md-card-content>
</md-card>
</div>
